mat-form-field{
    margin-left: 15px;  
    padding-bottom: 10px;
    
}
// .fields{
//     display: flex;
// }
button{
  margin-right:auto;
  float: right;
}
.addbtn{
    float: right;
    background: #002b5c;
    color: white;
   }
   .cnclbtn{
    // padding: 2.5px;  
    // margin:10px;
    // width: 10%;
    background: #002b5c;
    color: white;  
}
mat-divider {
    margin-left: 8px;
    margin-right: 8px;

    // background-color: rgba(255, 255, 255, 0.5);
}
.align{
    text-align: center;
    color: #002b5c;
    padding: 2px;
}
ag-grid-angular{
    font-size: small;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    font-size: unset;
    color: gray;
}
.ag-header-cell-label {
    justify-content: center;
 }




