
<!-- <mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    Order Management
    <div class="listPro">
      <a routerLink="/app-admin-dashboard"><mat-icon>list</mat-icon></a>
    </div>
    
</mat-toolbar> -->
<!-- <mat-sidenav-container> -->
    <!-- <mat-sidenav #sidenav="matSidenav"> -->
      
  <!-- <h4 class="name">Dashboard</h4> -->
  <!-- <p class="designation">Software Engineer</p> -->
  
  <!-- <mat-divider></mat-divider> -->
    <!-- <a routerLink="/app-admin-dashboard"><button mat-button class="menu-button">
        <mat-icon>home</mat-icon>
        <span>Home</span>
    </button>
    </a>
    <a routerLink="/app-add-product" ><button mat-button class="menu-button">
        <mat-icon>add</mat-icon>
        <span>ADD Product</span>
    </button>
    </a>
    <a routerLink="/app-order-details"><button mat-button class="menu-button">
        <mat-icon>list</mat-icon>
         <span>Order List</span>
    </button>
    </a>
    <button mat-button class="menu-button">
      <mat-icon>information</mat-icon>
      <span>Order Info</span>
  </button>
  <button mat-button class="menu-button">
    <mat-icon>payment</mat-icon>
    <span>Payment</span>
  </button> -->
<!--   
    <mat-divider></mat-divider>
   -->
  
    <!-- </mat-sidenav> -->
    <!-- <mat-sidenav-content>
        <div class="content mat-elevation-z4">
           <div class="align">Add Product</div>
         <form  #myForm="ngForm" (ngSubmit)="onFormSubmit()">
           <div class = "tp-container">
            <mat-form-field appearance = "standard">
            <mat-label>Name:</mat-label>
               <input type="text"
               aria-label="Number"
               matInput required
               [formControl]="myControl"
               [matAutocomplete]="auto"
               name="name"
               [(ngModel)]="model.name">
            <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
             {{option}}
            </mat-option>
             </mat-autocomplete>
             <mat-error>name is required.</mat-error>
            </mat-form-field>
            <mat-form-field appearance = "standard">
                <mat-label>Quantity:</mat-label>
                <input matInput placeholder = "Quantity"
                [(ngModel)]="model.quantity"
                required maxlength="2"
                type="number"
                name="quantity">
                <mat-error>quantity should be greater than 0.</mat-error>
             </mat-form-field>
             <mat-form-field appearance = "standard">
                <mat-label>Type:</mat-label>
                <input matInput placeholder = "Type"
                required
                [(ngModel)]="model.type" name="type">
                <mat-error>type is required</mat-error>
             </mat-form-field>
             <mat-form-field appearance = "standard">
                <mat-label>Price:</mat-label>
                <input matInput placeholder = "Price"
                [(ngModel)]="model.price"
                required
                type="number"
                name="price">
                <mat-error>price should be greater than 0.</mat-error>
             </mat-form-field>
             <mat-form-field appearance = "standard">
                <mat-label>Manufacturing Date:</mat-label>
                <input matInput [matDatepicker]="picker1" [(ngModel)]="model.mfg"
                [formControl]="date"
                name="mfg"
                required>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <input matInput placeholder = ""
                >
                <mat-error>Manufacturing date is required.</mat-error>
             </mat-form-field>
             <mat-form-field appearance = "standard">
                <mat-label>Expiry Date:</mat-label>
                <input matInput [matDatepicker]="picker2" 
                    [(ngModel)]="model.exp"
                    [formControl]="date"
                    name="exp"
                    required>
                 <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                 <mat-datepicker #picker2></mat-datepicker>
                <input matInput placeholder = ""
                >
             </mat-form-field>
             <div class="example-button-row">
             <button mat-raised-button class="addbtn" type="submit">Add</button>
             <button type="reset" mat-raised-button class="cnclbtn">Cancel</button>
             </div>
           </div>
        </form>
        </div>
    </mat-sidenav-content> -->
  <!-- </mat-sidenav-container> -->


  <mat-card fxLayoutAlign="center center">
    <div class="align"><h2><b>Add Product</b></h2></div>
    <div>
        <form #myForm="ngForm" fxLayout="row wrap" (ngSubmit)="onFormSubmit()">
            <div fxLayout="row" fxLayout.lt-sm="column" >
                <mat-form-field fxFlexFill color="#002b5c">
                    <input id="proName" 
                    required
                    matInput type="text" 
                    placeholder="Name of Product" 
                   
                    [(ngModel)]="model.name"
                    
                    name="name"
                    >
                    <mat-error>Name is required</mat-error>
                
                </mat-form-field>
                <mat-form-field fxFlexFill color="#002b5c">
                    <input id="quantity" 
                    required
                    matInput type="number" 
                    required placeholder="Quantity" 
                    [(ngModel)]="model.quantity"
                    name="quantity"
                    >
                    <mat-error>Quantity is required</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.lt-sm="column" >
              <mat-form-field fxFlexFill color="#002b5c" >
                <input id="type" 
                required
                matInput type="text" 
                placeholder="Type" 
                [(ngModel)]="model.type"
                name="type"
                >
                <mat-error>Type is required</mat-error>
            </mat-form-field>
                <mat-form-field fxFlexFill color="#002b5c" >
                    <input id="price" 
                    matInput type="number" 
                    placeholder="Price" 
                    [(ngModel)]="model.price"
                    required="price is required"
                    name="price"
                    >
                    <mat-error>Price is required</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.it-sm="column">
              <mat-form-field fxFlexFill color="#002b5c" class="matPicker">
                <mat-label>Manufacturing date</mat-label>
                <input matInput [matDatepicker]="picker"
                [(ngModel)]="model.mfg"
                name="mfg"
                required
                >
                <mat-error>Date is required</mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field fxFlexFill color="#002b5c" class="matPicker">
                <mat-label>Expiry date</mat-label>
                <input matInput [matDatepicker]="picker"
                [(ngModel)]="model.exp"
                name="exp"
                required
                >
                <mat-error>Date is required</mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <button mat-raised-button class="addbtn" type="submit">Add</button>
            
            <button type="reset" mat-raised-button class="cnclbtn" (click)="onClose()">Cancel</button>

         </form>
    </div>

</mat-card>