


  <mat-card>
    <div class="align"><h2><b>Add Product</b></h2></div>
    <div>
        <form #myForm="ngForm"  #addProductInTable="ngForm" name="addProduct" [formGroup]="addProduct" >
            <div fxLayout="row" fxLayout.lt-sm="column" >
                <mat-form-field fxFlexFill fxFlex="50" color="#002b5c">
                    <input id="proName" 
                    required
                    matInput type="text" 
                    placeholder="Name of Product" 
                    formControlName="name"
                    [(ngModel)]="model.name"
                    
                    name="name"
                    >
                    <mat-error>Name is required</mat-error>
                
                </mat-form-field>
                <mat-form-field fxFlexFill fxFlex="50" color="#002b5c">
                    <input id="quantity" 
                    required
                    matInput type="number" 
                    formControlName="quantity"
                    required placeholder="Quantity" 
                    [(ngModel)]="model.quantity"
                    name="quantity"
                    >
                    <mat-error>Quantity is required</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.lt-sm="column" >
              <mat-form-field fxFlexFill fxFlex="50" color="#002b5c" >
                  <mat-label>Type</mat-label>
                  <mat-select  id="type" 
                  required
                  matInput type="text" 
                  placeholder="Type" 
                  [(ngModel)]="model.type"
                  name="type"
                  formControlName="type">
                    <mat-option value="Fruit">Fruit</mat-option>
                    <mat-option value="Food">Food</mat-option>
                    <mat-option value="Cloth">Cloth</mat-option>
                    <mat-option value="Oil">Oil</mat-option>
                    <mat-option value="Dry-Fruit">Dry-Fruit</mat-option>
                    <mat-option value="Dairy-Product">Dairy-Product</mat-option>
                    <mat-option value="Other">Other</mat-option>
                  </mat-select>
                  <mat-error>Type is required</mat-error>
                
                </mat-form-field>
                <mat-form-field fxFlexFill fxFlex="50" color="#002b5c" >
                    <input id="price" 
                    matInput type="number" 
                    placeholder="Price" 
                    [(ngModel)]="model.price"
                    required="price is required"
                    formControlName="price"
                    name="price"
                    >
                    <mat-error>Price is required</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.it-sm="column">
              <mat-form-field fxFlexFill color="#002b5c" fxFlex="190" class="matPicker">
                <mat-label>Manufacturing date</mat-label>
                <input matInput [matDatepicker]="picker"
                [(ngModel)]="model.mfg"
                name="mfg"
                formControlName="mfgDate"
                required
                >
                <!-- <mat-error>Date is required</mat-error> -->
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <!-- <mat-form-field fxFlexFill color="#002b5c" class="matPicker">
                <mat-label>Expiry date</mat-label>
                <input matInput [matDatepicker]="picker"
                [(ngModel)]="model.exp"
                name="exp"
                required
                >
                <mat-error>Date is required</mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field> --> 
            </div>
            <button mat-raised-button class="addbtn" type="submit" (click)="onFormSubmit(addProductInTable)">Add</button>
            
            <button type="reset" mat-raised-button class="cnclbtn" (click)="onClose()">Cancel</button>

         </form>
    </div>

</mat-card>