<mat-card >
    <div><h2><b>Profile</b></h2></div>
    <div>
        <div class="profilePIC">
            <img class="avatar mat-elevation-z8" src="https://i.pinimg.com/736x/d4/cd/5a/d4cd5a64fb72059083de14e947fb8f82.jpg" >
        </div>
        
        <h3><b>Admin</b></h3>
        <form  >
            <table class="center">
                        <tr >
                            <td ><b>User Name</b></td>
                            <td>Admin.OMS </td>
                            
                        </tr>  
                        <tr >
                            <td><b>Full Name</b></td>
                            <td>Admin</td>
                            
                        </tr>    
                        <tr >
                            <td><b>Email</b> </td>
                            <td>admin@gmail.com</td>
                        </tr>  
                        <tr >
                            <td><b>Mobile</b></td>
                            <td>7694834594</td>
                        </tr>

                     </table>       
                  
                  </form>  
    
    </div>
</mat-card>